* {
    margin: 0;
    padding: 0;
}

:root {
    --font-family-primary: 'Open Sans', sans-serif;
    --border: rgba(0, 0, 0, .3)
}


.container-slide {
    width: 80%;
    margin: 2rem auto;
    display: flex;
    position: relative;
    border: 1px solid #000;
}

.slide {
    width: 100%;
    height: 100%;
    position: relative;
}

.arrow {
    font-size: 3rem;
    color: #ffffff;
    position: absolute;
    top: 50%;
}

.arrow:hover {
    cursor: pointer;
}

.arrow-left {
    left: 2.5%;
}

.arrow-right {
    right: 2.5%;
}

.fade-in {
    animation: fade-in 2s linear;
}

@keyframes fade-in {
    from {
        opacity: .3;
    }
    to {
        opacity: 1;
    }
}